* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111827;
  color: white;
  padding: 1.5rem 3rem;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.logo span {
  color: #3b82f6; 
}

.nav-links a {
  text-decoration: none;
  margin-left: 1.5rem;
  font-size: 1rem;
  transition: 0.3s;
}

.nav-links .login {
  color: white;
}

.nav-links .login:hover {
  color: #3b82f6;
}


.nav-links .signup {
  background-color: #3b82f6;
  color: white;
  padding:1.5rem 2.5rem;
  border-radius: 0.5rem;
}

.nav-links .signup:hover {
  background-color: #2563eb;
}


.main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.gif{
  height: 500px;
  width:  500px;
}
.gif img{
  height: 100%;
  width: auto;
}